#benefit {
    padding: 30px;
}
#benefit .row {
    display: table;
}
#benefit .left {
    overflow: hidden;
}

#benefit .left img {
    width: 100%;
}
#benefit .right h2 {
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: black;
    line-height: 1.2em;
}
#benefit .right .btn-arrow {
    padding: 14px 20px;
}